/* Цветовые акценты русского зеркала SPDX (дополняет style.css). */
::selection { background: #cfe6f5; }
#header { border-bottom: 3px solid #4597cb; }
a:visited { color: #00416b; }
hr { border: 0; border-top: 1px solid #d9e6ef; }
